/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
app/Resources/views/two_counters_lead.html.twig_wrong
src/AppBundle/2M
src/AppBundle/Entity/A_giacliente_brand.php~
src/AppBundle/Entity/A_lead_extra_values.php~
src/AppBundle/Entity/Brand.php~
src/AppBundle/Entity/Lead_uni_extra_fields.php~
src/AppBundle/Entity/Lead_uni_extra_values.php~
src/AppBundle/Entity/Pixels.php~
src/AppBundle/Entity/Scripts_history.php~
src/AppBundle/Scripts/getlocation.php
src/AppBundle/Scripts/log/
src/AppBundle/Scripts/log_update_leaduni.txt
src/AppBundle/Scripts/schema.php
src/luciano.txt
web/css/2b3815c.css
web/css/3224579.css
web/images/
web/js/0384b19.js
src/AppBundle/Entity/Cliente.php~
/src/AppBundle/Scripts/symfony_created.sql
