<h4>Un contatto <b>{{ intest }}erno</b> &egrave; stato <b>{{ blackdeblack}}</b></h4>
<p>Visita questo link per determinarne gli usi {% if intest=='esterno' %} e il fornitore {% endif %} </p>
<a href="{{ link }}" target="_blank"> vai ai dettagli </a>
