{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
		{% if object.clienteAttivo == 0 %}
			<strong><span style="color: red">DISATTIVO</span>
		{% else %}
			<strong><span style="color: green">ATTIVO</span>
		{% endif %}
    </div>
{% endblock %}