body{
	background: #FFFFFF;
}
.textfield {padding: 5px;margin-bottom: 15px;}

#cplnumber{width: 500px;}

.data_label{margin-left: 5px;}
.single_counter_box{
	min-height: 260px;
    background: #ececec;
    padding: 10px;
	color: #777777;
    border-bottom: 2px solid #000;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    margin-top: 15px;
}
.titoli_blocchi{background: #03A9F4;
    padding: 15px;
    color: #FFF;
    width: 100%;
border-top: 1px solid #FFFFFF; }

.statistic-counter, .indirette-counter{
	font-size: 30px;
    font-weight: bold;
}
.titolo_off{
	background-color: #ff764a;
    color: #FFF;
    padding: 5px;
    border-bottom: 2px solid #fff;
}
.titolo_indiretta{
    border-top: 2px solid #c3c3c3;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid #c3c3c3;
}
.datepicker{ cursor: pointer;
border: 1pz solid #ececec;
padding: 2px;
}
#loader{width: 50px;
    text-align: center;
margin: 25px auto;
}

.ui-datepicker-trigger{
    border:none;
    background:none;
}
@media screen and (min-width: 1600px) {
    .container-list {
        max-width: (1500px - @grid-gutter-width);
    }
}
@media screen and (min-width: 1900px) {
    .container-list {
        max-width: (1800px - @grid-gutter-width);
    }
}

@media (max-width: 1200px){
	.container-list {
		width: 1170px !important;
	}
}

@media (min-width: 992px){
	.container-list  {
		width: 970px;
	}
}
@media (min-width: 768px){
.container-list  {
    width: 750px;
}
}
.container-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
small.errorBox{color:red;}